-var full_1 = '4 900р.';
-var full_2 = '13 900р.';
-var sale_1 = '2 000р.';
-var sale_2 = '4 000р.';
-var today_1 = '2 900р.';
-var today_2 = '9 900р.';
-var link_1 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=3755&clean=true&lg=ru';
-var link_2 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=3758&clean=true&lg=ru';

section#prices
	.container
		+gt('','Выберите свой вариант участия')
		.packets
			.row
				.col-md-6.col-sm-6
					.packet
						.packet-head
							h4.packet-head-title Модуль 1
								span "Гармонизация жизни"
						.packet-body
							h5.packet-body-titile 3 занятия
							p.more-button(data-toggle="modal" data-target="#modal-1") подробнее
						.packet-footer
							p.cost.cost-full Стоимость:
								span= full_1
							p.cost.cost-sale Скидка:
								span#sale-1= sale_1
							p.cost.cost-today Стоимость сегодня:
								span#today-1= today_1
							a.button.button-cost(href= link_1 target="_blank")#link-1 Выбрать
				.col-md-6.col-sm-6
					.packet
						.packet-head
							h4.packet-head-title Модуль 2
								span "Мы можем больше"
						.packet-body
							h5.packet-body-titile 5 занятий + бонус + ВСЁ, что входит в Модуль 1
							p.more-button(data-toggle="modal" data-target="#modal-2") подробнее
						.packet-footer
							p.cost.cost-full Стоимость:
								span= full_2
							p.cost.cost-sale Скидка:
								span#sale-2= sale_2
							p.cost.cost-today Стоимость сегодня:
								span#today-2= today_2
							a.button.button-cost(href= link_2 target="_blank")#link-2 Выбрать
		.timer
			h4.timer-title До уменьшения скидки:
			.clock